button {
    border: 2px solid black;
}


.home-header > div {
    margin: auto;
    transform: translateY(200px);
    animation: header-container 2s ease forwards;
    width: auto;
}
.logo {
    width: min-content;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 50px 60px;
    margin: 15px auto;
}

.logo img {
    width: 80px;
    height: 100px;
    margin: auto;
}

.t-wrap {
    overflow: hidden;
}

.info {
    position: relative;
    flex: auto;
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

.main-text {
    margin: auto 15px;
    width: 50%;
    z-index: -1;
    background-color: #808080;
    border-radius: 1px;
    padding: 10px;
    height: auto;
    color: #00ff90;
    font-size: 20px;
}

h1 {
    color: #000000;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.title {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    opacity: 1;
    width: auto;
}
.bio {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    opacity: 1;
    max-width: 350px;
    margin: 0 auto;
    text-align: justify;
    text-wrap: normal;
}

.subtitle {
    margin: 30px auto;
    width: 100%;
}
.subtitle > p {
    margin: 30px auto;
    font-weight: bold;
    text-align:center;
}

h3 {
    font-weight: bolder;
    margin: 0 auto;  
    text-align: center;
    font-size: 40px;
}
image {
    width: 30%;
    height: auto;
    max-height: 600px;
}
img {
    background-position: center;
    background-size: contain;
}

button {
    border: none;
    background-color: #808080;
    color: #00ff90;
    font-weight: bold;
    transition: 0.5s;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}

button:hover {
    background-color: #00ff90;
    color: #808080;
    transition: 0.5s;
}

.info p {
    font-weight:bold;
}

ul {
    list-style: none;
    padding-left: 10px;
    color: #ffffff;
    font-size: 18px;
}

    ul > li:nth-child(2) {
        text-align: right;
        margin: 10px 0px;
        padding-left: 50px;
        padding-right: 0px;
        font-weight: bold;
    }

    ul > li {
        padding-right: 50px;
    }

.shift {
    transform: translateX(-25%);
    float: left;
    z-index: 0;
}
.shift-behind {
    transform: translateX(-25%);
    float: left;
    z-index: -2;
}


.home-divider > div {
    margin: auto;
}

/* animations */

.come-in {
    transform: translateX(1000px);
    animation: come-in 1.5s ease forwards;
}

    .come-in:nth-child(odd) {
        animation-duration: 1.5s;
    }

@keyframes come-in {
    from {
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes header-container {
    from {
        opacity: 0;  

    }
    to {
        transform: translateY(0);
        opacity: .92;
    }
}

@media screen and (max-width:1300px) {
    .main-text {
        font-size: 16px;
    }
    ul > li {
        font-size: 14px;
    }
}

@media screen and (max-width:500px) {
    .logo {
        width: min-content;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 20px 29px;
        margin: 5px auto;
    }
        .logo img {
            width: 62px;
            height: 80px;
            margin: auto;
        }

    .home-header > div {
        width: 100%;
    }
}

    @media screen and (max-width:1000px) {
        .home-header {
            align-content: center;
            margin: 10px 0px;
            text-align: center;
            align-content: center;
            padding: 10px;
            image-resolution: 300dpi;
            width: auto;
        }

        .subtitle {
            margin: 10px auto;
            width: 100%;
        }

        .info {
            margin-top: 15px;
            margin-bottom: 0px;
        }

        .normal {
            flex-direction: column;
        }

        .reverse {
            flex-direction: column-reverse;
        }

        .main-text {
            margin: auto 0px;
            width: 100%;
            background-color: #ffffff;
            padding: 2px;
            height: auto;
            color: darkslategray;
            font-size: 16px;
        }

        .shift {
            transform: translateX(0%);
        }

        .shift-behind {
            transform: translateX(0%);
        }

        .home-divider {
            min-height: 150px;
            margin: 10px 0px;
        }

        ul {
            list-style: none;
            padding: 5px;
            font-size: 14px;
        }

            ul > li:nth-child(2) {
                text-align: right;
                margin: 0px;
                padding-left: 0px;
                padding-right: 0px;
                font-weight: bold;
            }

            ul > li {
                padding-right: 10px;
                color: darkslategray;
            }

        h1 {
            text-align: center;
            font-size: 40px;
        }

        h3 {
            font-size: 28px;
        }

        img {
            width: 100%;
        }
    }