@page "/"

<AuthorizeView>
    <Authorized>
        <RedirectTo Page="account" />
    </Authorized>
</AuthorizeView>

<div class="header">
    <div class="header-container">
        <div class="logo">
            <img src="/favicon.ico" alt="PlannR Logo" />
        </div>
        <div class="title">
            <h1>PlannR</h1>
        </div>
        <button @onclick="NavigateToRegister">Sign up to start creating trips</button>
        <div class="bio">
            With PlannR you no longer need to worry about organising your next adventure. Everything is stored in one place, with all of your timings and bookings one touch away.
        </div>
    </div>
</div>
<div class="subtitle">
    <h3>Plan and store your trips. All in one place.</h3>
</div>

<div class="info normal">
    <div class="image index-left">
        <img src="/images/index-map.jpg" alt="PlannR Info" />
    </div>
    <div class="main-text shift index-right">
        <p>
            With PlannR you can organise and find every part of every trip and adventure.
        </p>
        <p>
            From your bus journey and tickets, reservations at your hotels and hostels, to planning a big night outs and sharing routes with everyone
        </p>
        <p>
            All Stored in one place, simpler planning, quicker to find.
        </p>
    </div>
</div>

<div class="divider">
    <div>
        <button>Take a look at a sample trip</button>
    </div>
</div>

<div class="subtitle">
    <h3>Store every part of every adventure. </h3>
    <p>Accomodation, Events, Transport, Routes, Locations and Bookings</p>
</div>

<div class="info reverse">
    <div class="main-text index-left">
        <ul>
            <li>
                If you're camping under the stars, in a luxury 5 star hotel, or just staying with a friend, leave it with Plannr to store all the details.
            </li>
            <li>
                Want to have a wander of the city and finish in a bar, Plannr has the route feature to plot it out, adding events to any of your stops.
            </li>
            <li>
                Any bookings, reservation, vouchers or tickets you need to want to use on your trip can be attached, making finding them when the flight or birthday dinner comes super easy!
            </li>
        </ul>
    </div>
    <div class="image shift-behind index-right">
        <img src="/images/index-route.jpg" alt="PlannR Info" />
    </div>
</div>