<footer class="@FooterClass">
    <div>
        <p>
            <a class="name" href="/aboutme">
                &copy; 2021 PlannR - Owen Steele
            </a>
        </p>
    </div>
    <div>
        <ul>
            <li>
                <a href="/privacy">Privacy Notice</a>
            </li>
            <li>
                <a href="/aboutme">About Me</a>
            </li>
            <li>
                <a href="https://github.com/OwenSteele/PlannR" target="_blank" rel="noopener noreferrer">Github Repo</a>
            </li>
            <li>
                <a href="https://plannrapi.azurewebsites.net/swagger/index.html" target="_blank" rel="noopener noreferrer">PlannR API</a>
            </li>
        </ul>
    </div>
</footer>