@inherits LayoutComponentBase
<div>
    <div>
        <div class="topnav">
            <NavBar />
        </div>
    </div>
</div>
<div>
    <div>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <UserNavMenu/>
        </div>
    </div>
</div>
<div class="@ToggleNavMenuClass">
    <button class="togglebtn @ToggleNavMenuClass" @onclick="ToggleNavMenu">&#9776;</button>
    <div class="content">
        @Body
    </div>
</div>

<div class="footer">
    <Footer />
</div>
