.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
}

.main {
    transition: 0.2s;
    margin-left: 300px;
}


.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    left: 0;
    top: 300px;
    right: 0;
    z-index: 1;
    border-radius: 0px 10px 10px 0px;
}

.openbtn:hover {
    background-color: #444;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 500px) {
    .sidebar {
        padding-top: 15px;
        width: 100%;
    }

        .sidebar a {
            font-size: 18px;
        }    
}
