<div class="sidebar pl-2 container-fluid">
    <div>
        <a class="nav-home" href="">PlannR</a>
    </div>
    <div class="nav-link">
        <NavLink href="trips">
            My Trips
        </NavLink>
    </div>
    <div class="closebtn">
        <button>&times; Close</button>
    </div>
</div>
