
.sidebar {
    padding-top: 10px;
    width: 100%;
    font-size: 18px;
    transition: 0.5s;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    text-align:center;
}

a {
    text-decoration: none !important;
    color: #ffffff;
}
a:hover, a:active {
    text-decoration: none !important;
}
a:focus {
    text-decoration: none !important;
}
.nav-home {
    color: #ffffff;
    padding: 10px 15px;
    font-size: 60px;
    align-content: center;
    font-weight: bolder;
}

.closebtn button {
    bottom: 0;
    position: sticky;
}

.closebtn button {
    border: 0;
    color: #00ff90;
    background: none;
    font-weight: bold;
    font-size: 20px;
    right: 0;
}

.closebtn button:hover {
    color: #ffffff;
}

.nav-link {
    font-size: 30px;
    transition: 0.5s;
}
    .nav-link:hover {
        color: #ffffff;
        padding-left: 16px;
        padding-right: 0px;
        transition: 0.5s;
    }

.important-text {
    color: orange;
    font-weight: bold;
}

@media (max-width: 500px) {
    .sidebar {
        padding-top: 10px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        color: antiquewhite;
        width: 100%;
        overflow: auto
    }
}
