@page "/AboutMe"

<div class="aboutme-wrapper">
    <h1>About Me</h1>
    <div class="me-section">
        <img src="/images/me.jpg" />
        <div>
            <p>I am an aspiring .NET developer who hopes to turn my passion and love for programming from a hobby into a career!</p>
            <p>I have been coding in .NET and C# since I was in secondary school. Taking an AS level in Computing (completing my A2 project in two languages (VB and C#) in the same year). I have since moved onto new languages and widely broadened my knowledge.</p>
            <p>I have also worked and built apps in: <strong>F#, VB[A], C++, Javascript, Typescript and C#</strong>, and interests in R lang and Go lang</p>
            <p>With experience in, ASP.NET Core (MVC and MVVM), Blazor, Angular and React.</p>
            <p>See another of my projects: <a href="https://localparks.azurewebsites.net/" target="_blank" rel="noopener noreferrer"> Local Parks </a> - an ASP.NET Core web app.</p>
        </div>
    </div>
    <div class="spec-section">
        <h2>PlannR specification</h2>
        <ul>
            <li>PlannR client-side app, is built with Blazor WASM and hosted on GitHub Pages</li>
            <li>The server-side is hosted on Azure with an ASP.NET Core REST API and cloud SQL databases</li>
            <li>JWT token authentication is used to access the API and register user identity</li>
            <li>PlannR's infrastructure is designed follow the clean/onion architecture style, using the CQRS design pattern</li>
            <li>The project is maintained and test with CI/CD deployment and has xUnit testing</li>
            <li>Complete custom CSS has been written for PlannR, instead of relying on CSS style libraries or kits</li>
            <li>Open Street Map Nuget is employed for reusable map elements</li>
            <li>DRY modals are used for entity CRUD operations, to maximise UI experience and resusability of code</li>
        </ul>
    </div>
</div>