.modal-parent {
    min-height: 100px;
    min-width: 350px;
}

    .modal-parent input {
        width: 100%;
    }

    .modal-parent label {
        font-weight: bolder;
    }
    .modal-parent span {
        font-weight: bolder;
        color: #ff0000;
    }

    .modal-parent .form-field {
        display: flex;
        justify-content: space-between;
    }

.modal-parent button {
    border: none;
    padding: 0px;
    font-size: 30px;
    background-color: transparent;
    align-self: end;
}
