.trips {
    padding: 20px 10px;
}

.heading {
    width: 100%;
    flex: auto;
    flex-direction: row;
    display: inline-flex;
    justify-content: space-between;
    vertical-align: central;
}

.heading h1 {
    font-weight: bolder;
    font-size: 60px;
}

.heading button {
    height: min-content;
    vertical-align: middle;
    font-weight: bolder;
    border-radius: 4px;
    background-color: #00ff90;
    border: none;
    color: #000000;
}
.heading button span {
    font-size: 28px;
}

.heading button:hover {
    color: #ffffff;
}

.trip-list {
    margin-top: 20px;
    scroll-behavior: smooth;
    max-height: 500px;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
.trip-list ul {
    padding: 10px 0px;
    list-style: none;
}
.trip-list li {
    border-top: 1px solid #000000;
    padding: 10px 0px;
}
.trip-list div {
}

.trip-list a {
color: #000000;
}
    .trip-list a:hover {
        color: #00ff90;
        transition: 1s;
    }

.trip-name h3 {
    font-weight: bolder;
}

.trip-name {
    /*@include make-col-ready();

    @include media-breakpoint-up(sm) {
        @include make-col(12);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(6);
    }*/
    padding-left: 0px;
    padding-right: 0px;
}
.trip-info {
    /*@include make-col-ready();

    @include media-breakpoint-up(sm) {
        @include make-col(12);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(6);
    }*/
    padding-left: 0px;
    padding-right: 0px;
}