.trip {
    margin-top: 30px;
    padding-right: 10px;
}

.heading {
    border-bottom: 3px solid #00ff90;
    margin: 15px auto;
}

.trip-info {
    max-width: 600px;
    margin: 0px auto;
}

.trip-info > div {
    font-weight: bold;
    width: auto;
}
.trip-info > div > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
}

.trip-info > div > div > div {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    flex-direction: column;
}

.trip-section {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    flex-direction: row;
    overflow:hidden;
}
.trip-section > div {
    border: 2px solid black;
    min-width: 22%;
    border-radius: 5px;
    margin: 10px;
}

.val {
    font-weight: 900;
}
.heading {
    border-bottom: 3px solid #00ff90;
    margin: 15px auto;
    width: 100%;
    flex: auto;
    flex-direction: row;
    display: inline-flex;
    justify-content: space-between;
    vertical-align: central;
}

.heading h1 {
    font-weight: bolder;
    font-size: 60px;
}
    .heading div {
        font-size: 24px;
    }

button {
    height: min-content;
    vertical-align: middle;
    font-weight: bolder;
    border-radius: 4px;
    background-color: #00ff90;
    border: none;
    color: #000000;
    font-size: 40px;
    width: 55px;
    height: 55px;
}

.trip-info button {
    font-size: 30px;
    display: inline-flex;
    width: 43px;
    height: 43px;
}

button:hover {
    color: #ffffff;
}

@media screen and (max-width: 500px) {
    .dates-locations > div {
        flex-direction: column;
    }
    .heading {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .trip-section {
        flex-direction: column;
    }
}