.trip {
    margin-top: 30px;
    padding-right: 10px;
}

.heading {
    border-bottom: 3px solid #00ff90;
    margin: 15px auto;
}

.trip-info {
    max-width: 600px;
    margin: 0px auto;
}

.dates-locations {
    font-weight: bold;
    width: auto;
}
.dates-locations > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
}

    .dates-locations > div > div {
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
        flex-direction: column;
    }

.val {
    font-weight: 900;
}
.heading {
    border-bottom: 3px solid #00ff90;
    margin: 15px auto;
    width: 100%;
    flex: auto;
    flex-direction: row;
    display: inline-flex;
    justify-content: space-between;
    vertical-align: central;
}

.heading h1 {
    font-weight: bolder;
    font-size: 60px;
}

button {
    height: min-content;
    vertical-align: middle;
    font-weight: bolder;
    border-radius: 4px;
    background-color: #00ff90;
    border: none;
    color: #000000;
    font-size: 40px;
}

.trip-info button {
    font-size: 30px;
    display: inline-flex;
}

button:hover {
    color: #ffffff;
}

@media screen and (max-width: 500px) {
    .dates-locations > div {
        flex-direction: column;
    }
}