@*<div class="routes">
    <h3>Routes</h3>
    @foreach (var route in Trip.Routes)
    {
        <button @onclick="(() => NavigateToAccomodation(route.RouteId.ToString()))">
            <h4>@route.Name</h4>
            <p><span>&#128197;</span> <strong>@route.StartDateTime.ToShortDateString()</strong> to <strong>@route.EndDateTime.ToShortDateString()</strong></p>
        </button>
    }
</div>*@