.dates-times {
    background-color: #fea9a9;
}

.dates-times > div {
    margin: auto 0px;
}
.company {
    background-color: #c1f3fd;
}

.info-description {
    background-color: #fdffba;
    justify-content: center;
    flex-direction: column;
}
