.dates-times {
    background-color: #b9e8eb;
}

.dates-times > div {
    margin: auto 0px;
}

.no-points {
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #efed8e;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #ff0082;
    font-weight: bolder;
    margin: auto;
}
.no-points-wrapper {
    height: 30vh;
}

.route-plan {
    max-height: inherit;
    overflow-y: auto;
}

.route-plan > div {
    margin: 5px 0px;
    padding: 5px;
    background-color: #fea9a9;
}

#point-title {
    background-color: #fea9a9;
    text-align:left;
}

#point-title h4 {
    margin: 0px;
    padding: 1px;
    text-align: left;
}

#point-coords p {
    margin: 0px;
    padding: 1px;
}