@page "/account"
@attribute [Authorize]

<div class="heading">
    <div>
        @if (string.IsNullOrWhiteSpace(Username))
        {
        <p>
            Loading Profile...
        </p>
        }
    
else
{
            <h1>Hi, @Username</h1>

    <p>This is your PlannR account page</p>

    <p>@Info</p>
}
    </div>
</div>
