.login {
    margin: 30% auto;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px 20px;
    max-width: 500px;
}
.login h1 {
    font-weight: bolder;
    font-size: 40px;
}

    .login a {
        font-weight: bold;
        margin: 10px 0px;
    }

.login label {
   font-weight: bolder;
}

span {
    font-weight: bolder;
    color: #ff0000;
    margin: 20px 0px;
    text-align: right;
}

.form-field {
    margin: 10px 0px;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.login button {
    border: none;
    padding: 0px;
    font-size: 20px;
    background-color: #00ff90;
    color: #000000;
    padding: 5px;
}

.input-field {
    box-sizing: border-box;
}

@media screen and (max-width: 500px) {
    .login {
        margin: 10px;
        border: 1px solid black;
        border-radius: 3px;
        padding: 10px 20px;
        max-width: 500px;
    }
}
@media screen and (max-width: 600px) {
    .inputs {
        flex-direction: column;
    }
}

@media screen and (min-width: 1700px) {
    .login {
        margin: 20% auto;
    }
}
@media screen and (min-width: 2000px) {
    .login {
        margin: 10% auto;
    }
}

@media screen and (max-height: 500px) {
    .inputs {
        flex-direction: column;
    }
}
