.delete-button {
    color: #ff0000;
    font-weight: bolder;
    border: 2px solid #ff0000;
    border-radius: 5px;
    padding: 5px;
}
.cancel-button {
    color: #000000;
    font-weight: bolder;
    border: none;
    background-color: #00ff90;
    border-radius: 5px;
    padding: 5px;
}

.warning-wrapper {
    max-width: 500px;
}

h1 {
    border-bottom: 2px solid #ff0000;
    color: #ff0000;
    font-weight: bold;
}

.example {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.example > div {
    background-color: #808080;
    color: #00ff90;
    padding: 5px;
    font-weight: bolder;
}

.instructions {
    font-size: 20px;
}

.instructions > span {
    font-weight: bolder;
}